
.App {
  text-align: center;
  /* background-color: black; */
}

.App-logo {
  position: absolute;
  /* top: 3rem;
  left: 27rem; */
  /* width: 23rem; */
  width: 30%;
  left: 26%;
  animation: App-logo-spin infinite 33s linear;
  /* height: 40vmin; */
  border-radius: 50%;
  pointer-events: none;
}

/* All the code For the actual Images and Text */
.Album-Grid {
  width: 50%;
  margin: 5% auto;
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  /* background-image: url('./shelf2.png'); */
}

.Album-Image {
  width: 100%;
  margin: auto;
  /* margin-bottom: 10%; */
  box-shadow: 1px 1px 5px ;
}

.Image-Holder {
  position: relative;
  text-align: center;
}


.Image-Holder:hover .Album-Image{
  filter: blur(2px) grayscale(100%);
}

.Song-Details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.Image-Holder:hover .Song-Details{
  opacity: 1;
  color: lightblue;
}

/* All the code for the shelf object */
.Shelf-Container {
  margin: 0 auto;
}

img.woodenShelfone {
  /* position: absolute; */
  width: 60%;
  height: 25%;
  left: 20%;
  top: 10%;
}

.record-player {
  width: 50%;
  position: relative;
}

.visualizer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 1rem;
}

/* .App-header { */
  /* background-color: black; */
  /* min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
/* } */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

/* body {
  /* background-color: #333; */
  /* color: #eee; */
  /* font-family: Helvetica, Arial; */
  /* font-size: 3vmin; */
/* } */ */

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.btn--login {
  margin: 0 auto;
}

/** Background **/

/* .background {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(8em) opacity(0.6);
  position: absolute;
} */

/* .main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  width: 80%;
  z-index: 1;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main-container {
  flex: 1;
} */

